@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: 'Open Sans', sans-serif;
  background-color: rgb(247, 231, 243);
}

.container {
  max-width: 26rem;
  margin-right: auto;
  margin-left: auto;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4rem;
}

h1 {
  text-transform: uppercase;
}
